*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-box
{
    height: 500px;
    border: 1px solid #E6E7E8;
    display: flex;
}
.grid-container
{
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.wrap
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1
{
    text-align: center;
}
header
{
    padding: 20px;
}